<div id="dialog-confirm" title="Информация">
  <div id="dialog-content">
    <form id="dialog-form">
      <div>
        <textarea form="dialog-form" rows="7" cols="48" id="dialog-message" autofocus></textarea>
      </div>
    </form>
  </div>
</div>
<div class="cellsBlock">
  <div class="cellLeft">
    <div id="drawers-wrapper">
      <%= render 'doctors/list_for_menu' %>
    </div>
  </div>
  <div class="cellMiddle">
    <div id="records_table"></div>
  </div>
  <div class="cellRight">
    <div id="calendar"></div>
  </div>
</div>
<div class="navigation">
  <div class="menu"></div>
</div>
