<div class="cellsBlock">
  <div class="cellLeft">
    <div id="datastoreExplorer" class="section">
      <div id="quotas">
        <%= render 'empty_quotum_doctors' %>
      </div>
      <div id="save">
        <button id="saveAll" class="button" type="button">Сохранить Всё</button>
        <div id="select">
          <input id="date"/>
        </div>
      </div>
    </div>
  </div>
  <div class="cellRight">
    <div id="calendar"></div>
  </div>
</div>
