<h3 align="center"><br><%= @doctor.surname %> <%= @doctor.name %></h3><br>
<div id="wrap-info-panel">
  <div class="scroll-info">
    <div align="left" class="info-panel">
      <% if @doctor.description.empty? %>
      Описание отсутствует.
      <% else %>
      <%= @doctor.description %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
  $('.scroll-info').jScrollPane();
  });
</script>
