<h3 align="center">Поликлиника ГБУЗ РКБ им. Г.Г.Куватова</h3><br>
<div id="wrap-info-panel">
  <div class="scroll-info">
    <div align="left" class="info-panel">Достоевского 132.
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
    $('.scroll-info').jScrollPane();
});
</script>
