<h3 align="center"><%= @post.name %></h3><br>
<div id="wrap-info-panel">
  <div class="scroll-info">
    <div align="left" class="info-panel">
      <% if @post.description.empty? %>
      Описание отсутствует.
      <% else %>
      <%= @post.description %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
    $('.scroll-info').jScrollPane();
});
</script>
