<ul>
  <li class='lpu-li'>
    <div class='lpu-div'>
      <div class='lpu-span' id='1'>
	Поликлиника ГБУЗ РКБ им. Г.Г.Куватова
      </div> 
      <button class='lpu-info' type="button" align='right'>Инфо.</button>
      <div class='lpu-description'>
      </div>
    </div>
  </li>
</ul>
