<script type="text/javascript">

  $(function(){
  $('#master-nav-wrapper').css('overflow', 'visible');
  Timeout.refresh();
  renderKeyboard();
  setupKeyboard();
  //FIXME: Придумать более правильный способ
  var height_cont = 630;
  $('#master-cnt-wrapper').height(height_cont);
  $('#master-nav-wrapper').height(height_cont);
  $('#master-footer-wrapper').height(0);
  
  $('#master-header').removeClass('master-header-default');
  $('#master-header').addClass('master-header-doctor');
  
  $(window).unbind('resize');
  $('#master-nav').css('top', '0px');
  $('#master-content').css('top', '0px');
  $('#master-content').height('100%');
    reception_doctor.ticket_ps = 'Настройте подпись к талону в mis.conf';
    $('#master-cnt-wrapper').click( function (){
       $('#error-window').hide();
    });
    $("#logo_div").css("cursor","pointer").attr("title","Переход на главную").bind('click', function() {$(window.location).attr('href','/receptions');});
    $("#go-home-btn").bind('click', function() {$(window.location).attr('href','/receptions');});
});
</script>
</head>
<body>
  <!-- Виртуальная клавиатура -->
  <!-- Виртуальная клавиатура -->
  <div id='keyboard-container'>
    <a id='hide-keyboard-button'> </a>
    <ul id='keyboard'>
      <li class="letter"><span class='ru'>1</span><span class='en'>1</span><span class='smb'>1</span> </li>  
      <li class="letter"><span class='ru'>2</span><span class='en'>2</span><span class='smb'>2</span> </li>  
      <li class="letter"><span class='ru'>3</span><span class='en'>3</span><span class='smb'>3</span> </li>  
      <li class="letter"><span class='ru'>4</span><span class='en'>4</span><span class='smb'>4</span> </li>  
      <li class="letter"><span class='ru'>5</span><span class='en'>5</span><span class='smb'>5</span> </li>  
      <li class="letter"><span class='ru'>6</span><span class='en'>6</span><span class='smb'>6</span> </li>  
      <li class="letter"><span class='ru'>7</span><span class='en'>7</span><span class='smb'>7</span> </li>  
      <li class="letter"><span class='ru'>8</span><span class='en'>8</span><span class='smb'>8</span> </li>  
      <li class="letter"><span class='ru'>9</span><span class='en'>9</span><span class='smb'>9</span> </li>  
      <li class="letter"><span class='ru'>0</span><span class='en'>0</span><span class='smb'>0</span> </li>  
      <li class="delete lastitem"><span class='ru'>←</span><span class='en'>←</span><span class='smb'>←</span> </li>  
      <li id='first-letter-1' class="letter"><span class='ru'>й</span><span class='en'>q</span> <span class='smb'>!</span> </li> 
      <li class="letter"><span class='ru'>ц</span><span class='en'>w</span> <span class='smb'>@</span> </li>  
      <li class="letter"><span class='ru'>у</span><span class='en'>e</span> <span class='smb'>"</span> </li>  
      <li class="letter"><span class='ru'>к</span><span class='en'>r</span> <span class='smb'>№</span> </li>  
      <li class="letter"><span class='ru'>е</span><span class='en'>t</span> <span class='smb'>;</span> </li>  
      <li class="letter"><span class='ru'>н</span><span class='en'>y</span> <span class='smb'>%</span> </li>  
      <li class="letter"><span class='ru'>г</span><span class='en'>u</span> <span class='smb'>:</span> </li>  
      <li class="letter"><span class='ru'>ш</span><span class='en'>i</span> <span class='smb'>?</span> </li>  
      <li class="letter"><span class='ru'>щ</span><span class='en'>o</span> <span class='smb'>&</span> </li>  
      <li class="letter"><span class='ru'>з</span><span class='en'>p</span> <span class='smb'>(</span> </li>  
      <li class="letter lastitem"><span class="ru">х</span> <span class='smb'>)</span> </li>
      <li id='first-letter-2' class="letter"><span class="ru">ф</span><span class="en">a</span> <span class='smb'>-</span> </li>  
      <li class="letter"><span class="ru">ы</span><span class="en">s</span> <span class='smb'>+</span> </li>  
      <li class="letter"><span class="ru">в</span><span class="en">d</span> <span class='smb'>_</span> </li>  
      <li class="letter"><span class="ru">а</span><span class="en">f</span> <span class='smb'>=</span> </li>  
      <li class="letter"><span class="ru">п</span><span class="en">g</span> <span class='smb'>'</span> </li>  
      <li class="letter"><span class="ru">р</span><span class="en">h</span> <span class='smb'>></span> </li>  
      <li class="letter"><span class="ru">о</span><span class="en">j</span> <span class='smb'><</span> </li>  
      <li class="letter"><span class="ru">л</span><span class="en">k</span> <span class='smb'>$</span> </li>  
      <li class="letter"><span class="ru">д</span><span class="en">l</span> <span class='smb'>*</span> </li>  
      <li class="letter"><span class="ru">ж</span> <span class='smb'>#</span> </li>
      <li class="letter lastitem"><span class="ru">э</span> <span class='smb'>^</span> </li>  
      <li class="left-shift">↑</li>  
      <li id='first-letter-3' class="letter"><span class="ru">я</span><span class="en">z</span> <span class='smb'>/</span> </li>  
      <li class="letter"><span class="ru">ч</span><span class="en">x</span> <span class='smb'>\</span> </li>  
      <li class="letter"><span class="ru">с</span><span class="en">c</span> <span class='smb'>.</span> </li>  
      <li class="letter"><span class="ru">м</span><span class="en">v</span> <span class='smb'>,</span> </li>  
      <li class="letter"><span class="ru">и</span><span class="en">b</span> <span class='smb'>[</span> </li>  
      <li class="letter"><span class="ru">т</span><span class="en">n</span> <span class='smb'>]</span> </li>   
      <li class="letter"><span class="ru">ь</span><span class="en">m</span> <span class='smb'>{</span> </li>  
      <li class="letter"><span class="ru">ъ</span> <span class='smb'>}</span></li>  
      <li class="letter"><span class="ru">б</span><span class='smb'>|</span></li>   
      <li class="letter lastitem"><span class="ru">ю</span><span class='smb'>~</span></li>
      <li class="swich-keyboard first-item">#&@</li>
      <li class="rus-eng">англ</li> 
      <li class="input-for-email">@</li> 
      <li class="dot">.</li> 
      <li class="space">&nbsp;</li>
      <li class="return lastitem">ввод</li>
    </ul>
  </div>
  <!-- Num-pad -->
  <div id='keyboard-num-container'>
    <a id='hide-keyboard-num-button'> </a>
    <ul id='keyboard-num'>
      <li class='number'>1</li>
      <li class='number'>2</li>
      <li class='number lastitem'>3</li>
      <li class='number'>4</li>
      <li class='number'>5</li>
      <li class='number lastitem'>6</li>
      <li class='number'>7</li>
      <li class='number'>8</li>
      <li class='number lastitem'>9</li>
      <li class='clear'>X</li>
      <li class='number'>0</li>
      <li class='delete'>←</li>
      <li class='return'>ввод</li>
    </ul>
  </div>
  <input id='keyboard-input-field' type='hidden' value='#master-searchbar-input' />
  <div id='master-header-wrapper'>
    <div id='header-title'>
      <div id='logo_div'></div>
      <div id='place-name'></div>
      <button id='help_button' ></button>
      <div id='date-time'>
	<div id='date'>
	  <span id='day'></span> 
	  <span id='day-text'></span>
	</div>
	<div id='time'>
	  <table>
	    <tr>
	      <td align='center'>
                <span id='hour'>00</span>
              </td>
              <td align='center'>
                <span id='colon'>:</span>
              </td>
              <td align='center'>
                <span id='minute'>00</span>
              </td>
            </tr>
          </table>
	</div>
      </div>
    </div>
    <div id='error-window' class="message-window">
      <div class='message-window-content'>
        <div class='message-window-header'>Внимание: <button class='close-error-window'></button></div>
        <div class='message-window-text'></div>
      </div>
    </div>
    <div id='question-window' class="message-window">
      <div class='message-window-content'>
        <div class='message-window-header'>
          Вы действительно хотите отказаться от записи?</div>
        <div class='message-window-text'></div>
        <div id='question-buttons-div'>
          <button type="button" id ='question-button-yes' class='question-button'></button>
          <button type="button" id ='question-button-no' class='question-button'></button>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  // По умолчанию на этом этапе 
    reception_doctor.clearProfile();

  showAuthWindow(function(){
  $.ajax({
        url: document.location.href
        ,type: "POST"
        ,dataType : 'html'
        ,data: ({
            type: 'profile'
            ,lpu_way: reception_doctor.lpuWay
  ,account_card_id: reception_doctor.accauntCardId||''
  ,is_free: reception_doctor.is_free
        })
        ,success: function (data, textStatus) {
            if (data) {
                // master-content - место для изменяемых данных, определено в шаблоне er-reception-to-doctor.html
                var content = $('#master-content')
                content.html(data);
            }
        }
    });
  },1);

</script>
<div id='mask-wrapper'></div>
<div id='master-cnt-wrapper'>
  <div id='lpu-name' style="text-align: center; font-size: 14pt; font-family: Geneva,Tahoma,Helvetica; color: #4F534F; display: none"><span id='lpu-name-span'></span></div>
  <table class="table" id="table-schedule-header" cellspacing="0" cellpadding="0" style="display: none;">
    <tr>
      <td class='cell_room' rowspan="2">Каб.</td>
      <td class='cell_name5' rowspan="2">Врач ФИО</td>
      <td class='cell_day5' colspan="5">
        <button id="week_back" onclick="weekChoiceNewSchema('prev-week')"></button><div id='week_dates'></div><button id="week_next" onclick="weekChoiceNewSchema('next-week')"></button>
      </td>
    </tr>
    <tr class='rowb'>
      <td class='cell_day5'>Пн.</td>
      <td class='cell_day5'>Вт.</td>
      <td class='cell_day5'>Ср.</td>
      <td class='cell_day5'>Чт.</td>
      <td class='cell_day5'>Пт.</td>
    </tr>
  </table>
  <div id='master-submenu'> 
    <div id='master-submenu-wrap'>
      <div id='step-title'></div>
      <div id='visit-type'></div>
      <div id='steps'> 
        <ul>
          <li id='step-profile' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li id='step-lpu' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li id='step-doctor' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li id='step-time' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li id='step-confirm' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li id='step-info' class='steps-class step-inactive'>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </div> 
    </div>
  </div>
  <div id='master-content-wrap'> 
    <div id='master-content-wrap-2'> 
      <div id='master-content'> </div>
    </div>
    <div id='footer-content-wrap'>
      <button class='steps' id='select-back-btn' type="button"></button>
      <button class='steps' id='go-home-btn' type="button"></button>
      <!--<button class='steps' id='to-pay-choice' type="button"></button>-->
      <div id='master-searchbar'>
        <div id='master-search-bar-panel'>
          <div id='master-searchbar-input-wrap'>
            <input id='master-searchbar-input' value="">
            <button id='keyboard-btn' class='keyboard-btn' type="button"></button>
            <button id='search-btn' class='search-btn' type="button"></button>
          </div>
        </div>
      </div>
      <button id='select-free-times' type="button" onclick='onFreeTimes()'><div id='select_free_time'></div></button>
    </div>  
  </div>
</div>
