// Place all the styles related to the ExternalRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.external_records {
  .cellsBlock {
    width: 100%;
    display: table;

    .cellLeft, .cellMiddle, .cellRight {
      display: table-cell !important;
      display: inline; /* IE */
      vertical-align: top;
    }

    .cellLeft {
      .menu {
        float: right;
      }
    }

    .cellRight {
      float: right;
    }

    .cellMiddle {
      width: 50%;
      align: center;

      .accepted {
        background-color: #00FF00;
      }

      .awaiting {
        background-color: #FFFF00;
      }

      .rejected {
        background-color: #FF0000;
      }
    }
  }
}
