<div id="dialog-info" title="Информация">
  <div id="dialog-content">
  </div>
</div>
<div class="cellsBlock">
  <div class="cellLeft">
    <div id="drawers-wrapper">
      <%= render 'doctors/list_for_menu' %>
    </div>
  </div>
  <div class="cellMiddle">
    <div id="records_table"></div>
  </div>
  <div class="cellRight">
    <div id="calendar"></div>
  </div>
</div>
<div class="navigation">
  <div class="menu"></div>
</div>
